<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://nordcdn.net/ds/css/3.2.1/nord.min.css" integrity="sha384-x2XdCI8Yog7KGRmrrGLegjFrrIYXEhGNxql/xEXdMoW5NkpEhlAkUHdQJxkL1vPg" crossorigin="anonymous" />
    <script type="module" src="https://nordcdn.net/ds/components/3.13.0/index.js" integrity="sha384-ff7LNA7yEz6r6VKmKOHIjznthVuDmIu1s/dlZZvhEdid7KKPbcN7sRtCUkNzglJC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="/static/script/FAP.js"></script>
    <title>{% block title %}Página{% endblock %}</title>
</head>
<body>
    <nord-layout>
        <nord-navigation slot="nav">

          <div class="flex items-center">
            <div class="flex flex-row items-center">
              <a href="https://www.ansible.com/">
                <img src="static/img/ansible-icon.svg" alt="ansible">
              </a>
            </div>
          </div>

          <nord-nav-group heading="Workspace" class="mt-[50px]">
            <nord-nav-item href="/dashboard" icon="navigation-dashboard">Dashboard</nord-nav-item>
            <nord-nav-item href="/inventory" icon="interface-globe">Inventario</nord-nav-item>
            <nord-nav-item href="/task" icon="generic-keyboard">Tareas</nord-nav-item>
          </nord-nav-group>
          <nord-nav-item href="/about" slot="footer" icon="interface-info">Acerca</nord-nav-item>
        </nord-navigation>
        
        <nord-stack gap="l">
          {% block content %}{% endblock %}
        </nord-stack>
      </nord-layout>
      <nord-command-menu></nord-command-menu>
      
      <script>
        const layout = document.querySelector("nord-layout")
        const commandMenu = document.querySelector("nord-command-menu")
        commandMenu.commands = [
          {
            id: "toggle-nav",
            title: "Toggle navigation",
            icon: "navigation-toggle",
            shortcut: "Alt+KeyL",
            handler() {
              layout.navOpen = !layout.navOpen
            },
          },
        ]
      
        const navigation = document.querySelector("nord-navigation")
      
        // for demo purposes, activate nav items on click.
        // in most cases you should instead integrate with your chosen router
        navigation.addEventListener("click", e => {
          if (e.target.matches("nord-nav-item") && e.target.href) {
            e.target.active = true
          }
        })
      </script>
</body>
</html>
